<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/backoffice/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="alert alert-danger">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                </div>
            {% else %}
                
            {% endif %}
        

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    <div class="alert alert-{{ type }}">
                        <ul>
                            {% for message in messages %}
                                <li>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>





        <!-- jQuery -->
        <script src="{{ asset('bundles/backoffice/js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/backoffice/js/bootstrap.min.js') }}"></script>
    </body>
</html>
